//====================================================================================================


.header {
	& a{
	 color: $mainColor;
	}	
	// .header__content

	&__content {
		background-color: $mainColor4;
	}
	
	// .header__wrapper
	
	&__wrapper {
	}

	// .header__top

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 110px;
		@media (max-width: $md2+px) {
			flex-direction: column;
			height: 120px;
			justify-content: start;
		}
		@media (max-width: $md3+px) {
			height: 90px;
		}
	}
	
	// .header__links

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $md2+px) {
			margin-top: 4px;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: start;
		}
		& > li {
			padding: 0px 20px; 
			
		}
		& li:last-child{	
			padding: 0px 0px 0px 20px;
		}
		& li a{
			border-bottom: 2px solid $mainColor3;
			padding-bottom: 4px;
			transition: all 0.3s ease 0s;
			@media (max-width: $md3+px) {
				border-bottom:none;
			}
			&:hover{
				border-bottom: 2px solid #050505;
				@media (max-width: $md3+px) {
					border-bottom:none;
				}
			}
		}
	}

	// .header__link
	
	&__link {
		font-size: 20px;
		font-weight: 700;
		text-shadow:1px 1px 1px #8f8585;
		@media (max-width: $md1+px) {
			font-size: 17px;
		}
		@media (max-width: $md3+px) {
			display: block;
			margin: 10px 0px;
			font-size: 23px;
		}
	}

	// .header__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0px;
		@media (max-width: $md3+px) {
			flex-direction: column;
			padding: 10px;
		}
		@media (max-width: 350px) {
			align-items: start;
		}
		& a{
			color: #fff;
		}
	}

	// .header__item

	&__item {
		font-size: 25px;
		font-weight: 700;
		display: inline-flex;
		text-shadow:1px 1px 2px #918888;
		@media (max-width: $md2+px) {
			font-size: 18px;
		}
		@media (max-width: $md3+px) {
			padding: 5px;
		}
	}

}
.bottom__wrapper{
	background-color: $mainColor2;
	color: #fff;
}

._icon-location{
	margin-left: 23px;
	@media (max-width: 350px) {
		margin-left: 0;
	}
}

.logo {
	display: flex;
	@media (max-width: $md3+px) {
		margin-top: 5px;
	}
	& img{
		height: 80px;
		width: 80px;
	}
	// .logo__text

	&__text {
		font-size: 19px;
		font-weight: 500;
		letter-spacing: -1px;
		text-shadow:1px 1px 2px #333333;
		@media (max-width: $md1+px) {
			font-size: 16px;
		}
		& span{
			display: inline-block;
			margin: 8px 0px 3px 0px;
			font-size: 35px;
			letter-spacing: 1px;
			font-weight: 700;
			@media (max-width: $md1+px) {
				font-size: 29px;
				margin: 13px 0px 3px 0px;
			}
		}
	}
}
.menu {

	// .menu__body

	&__body {
		@media (max-width: $md3+px) {
			position: fixed;
			z-index: 2;
			top: 0;
			left: 0;
			width: 310px;
			height: 350px;
			transform: translate(-100%, 90px);
			background-color:#fff;
			padding: 20px 0px 30px 0px;
			transition: all 0.8s ease 0s;
			overflow: auto;
		}
		&._active {
			transform: translate(0px, 90px);
		}
	}

	// .menu__icon

	&__icon {

	}
}
//====================================================================================================


//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 35px;
		left: 35px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		@media (max-width: 360px) {
			left: 15px;
		}

		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 2px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

